/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

html{
    font-size: 16px;
}

:root{

    --primary-light:#FFFFFF;
    --primary-dark:#0078A5;
    --body-bg-color:#FDFDFD;
    --secondary-dark: black;
    --dark-bg-color: #F4FCFE;
    --prices-color: #F98D00;
    --secondary-light: #C8DAEC;
    --email-pcdr-color: #CFCFCF;
    --email-btn-bg-color:#3AC9FF;
    --call-action-bg-color:#F9F9F9;
    --partner-border-color: rgba(0,120,165,0.2);



    --fnt-sze-1:3.18rem;
    --fnt-sze-2:2.9rem;
    --fnt-sze-3:2.25rem;
    --fnt-sze-4:2.12rem;
    --fnt-sze-5:1.8rem;
    --fnt-sze-6:1.62rem;
    --fnt-sze-7:1.37rem;
    --fnt-sze-8:1.25rem;
    --fnt-sze-9:1.12rem;
    --fnt-sze-10:1rem;
    --fnt-sze-11:0.87rem;

    --fnt-wgt-1:bold;
    --fnt-wgt-2:500;
    --fnt-wgt-3:normal;
    --fnt-wgt-4:300;

    --padding-sides:4.6rem
}


body{
    font-family: 'Poppins' ,sans-serif;
    background-color: var(--body-bg-color);
    font-weight: var(--fnt-wgt-3);
    color: var(--secondary-dark);
}

button{
    cursor: pointer;
}

ul{
    list-style: none;
    padding: 0;
}

a{
    text-decoration: none;
}

header{
    box-shadow: 0px 3px 10px 0 rgba(0, 0, 0,0.16);
}
.inner-header{
    height: 7rem;
    max-width: 101.5rem;
    padding: 0 var(--padding-sides);
    margin: 0 auto;
    display: flex;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}
a.logo img{
    max-width: 9.5rem;
}
.search-box{
    display: flex;
    align-items: center;
    height: 2.25rem;
    width: 32.8rem;
    border-radius: 1rem;
    padding: 0 1rem;
    border: var(--primary-dark) 1px solid;
}
.search-box input{
    color: var(--primary-dark);
    width: 95%;
    border: none;
    outline: none;
    font-size: var(--fnt-sze-11);
}
.search-box input::placeholder{
    color: var(--primary-dark);
    opacity: .3;
}
.search-box img{
    width: 1rem;
    height: 1rem;
}
.header-top-nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 8rem;
}
.header-top-nav ul a img{
    width: 1.3rem;
}
#cart{
    cursor: pointer;
}
#cart img{
    width: 2rem;
}
.cart-notif{
    position:relative;
    font-size: .7rem;
    left: 7rem;
    bottom: .5rem;
    width: 0.75rem;
    height: 0.75rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border-radius: 50%;
}
.header-bottom-nav{
    max-width: 92.3rem;
    margin: 0 auto;
    border-top: 1px solid var(--secondary-light);
}
.header-bottom-nav ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 64.2rem;
    padding: 0 var(--padding-sides);
    gap: 1rem;
}
.header-bottom-nav li{
    padding: 1rem 0;
    font-size: var(--fnt-sze-11);
    font-weight: var(--fnt-wgt-2);
}

.header-bottom-nav li a{
    color: var(--secondary-dark);
    
}
.header-bottom-nav li a:active{
    color: var(--primary-dark);
}
.header-bottom-nav li:active{
    color: var(--primary-dark);
}
.header-bottom-nav .dropdown-li{
    cursor: pointer;
    display: flex;
    align-items: center;
}
.header-bottom-nav .dropdown-li img{
    width: 1.5rem;
}
.selected-li{
    border-bottom: var(--primary-dark) 3px solid;
}

.dropdowns-container{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    z-index: 20;
    width: 55rem;
}
.dropdown{
    position: relative;
    display: none;
    z-index: 20;
    width: 20rem;
    background-color: var(--primary-light);
    box-shadow: 0px 0px 5px 0 rgba(0, 0, 0,0.16);
    border-radius: .3rem;
}
.dropdown-shown{
    display: inline;
}
.dropdown ul{
    padding: 0;
    margin: 0;
}
.dropdown li{
    height: 3.3rem;
}
.dropdown .top-li{
    border-radius: .3rem .3rem 0 0;
}
.dropdown .bottom-li{
    border-radius: 0 0 .3rem .3rem;
}
.dropdown .bottom-li a{
    border-radius: 0 0 .3rem .3rem;
}
.dropdown li a{
    display: flex;
    align-items: center;
    padding-left: 1.5rem;
    color: var(--secondary-dark);
    
    height: 100%;
}
.dropdown li:hover a{
    font-weight: var(--fnt-wgt-1);
    background-color: var(--secondary-light);
}
.prods-dropdown{
    left: 7rem;
}
.services-dropdown{
    left: 17rem;
}


main{
    position: relative;
    max-width: 101.5rem;
    margin: 0 auto;
    box-shadow: 0px 0px 20px 0 rgb(204, 204, 204);
}


.hero .slider-container{
    position: relative;
    overflow-x: clip;
}
.hero .slider-btn{
    color: var(--primary-light);
    background-color: var(--secondary-light);
    font-size: 2rem;
    position: absolute;
    z-index: 10;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
}
#heroSliderBtnLeft{
    top: calc(50% - 1.7rem);
    left: 1.7rem;
}
#heroSliderBtnRight{
  bottom: calc(50% - 1.7rem);;
  right: 1.7rem;
}
.hero .slider-track{
    position: relative;
    left: 0;
    width: 100%;
    height: 37.5rem;
    margin: 0;
    transition: left .4s ease;
}
.hero .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #AFD4E3;
    color: var(--primary-light);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7rem;
}
.hero .slide:nth-child(1){
    background-image: url(./resources/0ddd8e666d6015d6dcbf5d14ee89cfc9.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -20rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 1rem;
}
.hero .slide-content:nth-child(1){
    color: var(--primary-light);
    padding-left: 8.3rem;
    max-width: 40rem;
}
.hero .slide-content:nth-child(1) h1{
    font-size: var(--fnt-sze-2);
    font-weight: var(--fnt-wgt-1);
    line-height: 1.2;
    padding-bottom: 1.5rem;
}
.hero .slide-content:nth-child(1) p{
    max-width: 27rem;
    font-size: var(--fnt-sze-11);
    padding-bottom: 2rem;
}
.hero .slide-content:nth-child(1) a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12.8rem;
    height: 3.5rem;
    border-radius: 2rem;
    border: var(--primary-light) 1px solid;
    color: var(--primary-light);
    
    font-size: var(--fnt-sze-8);
}
.hero .slide-content:nth-child(1) a:active{
    background-color: var(--primary-dark);
}
.hero .slider-nav{
    position: relative;
    bottom: 3.5rem;
    display: flex;
    justify-content: space-between;
    padding: .2rem;
    width: 5rem;
    border-radius: .5rem;
    margin: 0 auto;
    background-color: var(--secondary-light);
}
.hero .slider-dot{
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    background-color: var(--primary-light);
}
.hero .selected-dot{
    background-color: var(--primary-dark);
}

.slider-dot{
    cursor: pointer;
}

.prods{
    padding-top: 2rem;
}
.inner-prods{
    position: relative;
    
} 
.inner-prods a{
    max-width: 14.3rem;
    color: var(--secondary-dark);
}
.prods h2{
    font-size: var(--fnt-sze-3);
    font-weight: var(--fnt-wgt-1);
    text-align: center;
    padding-bottom: 1rem;
}
.prods .slider-container{
    position: relative;
    display: flex;
    align-items: center;
    width: 92%;
    gap: 4.2rem;
    overflow-x: auto;
    margin: 0 auto;
    box-shadow: 0 0px 10px -5px rgba(0, 0, 0,0.16);
}
.prods .slider-container::-webkit-scrollbar{
    height: 3px;
}
.prods .slider-container::-webkit-scrollbar-track{
    background: rgb(240, 240, 240);

}
.prods .slider-container::-webkit-scrollbar-thumb{
   background: var(--primary-dark);
}
#prodsSliderBtnLeft{
    top: calc(50% - 1.7rem);
}
#prodsSliderBtnRight{
    bottom: calc(50% - 1.7rem);
    right: 0;
}
.prods .slider-btn{
    color: var(--primary-light);
    background-color: var(--secondary-light);
    font-size: 2rem;
    position: absolute;
    z-index: 10;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
}
.prods .slide-card{
    max-width: 14.3rem;
    min-width: 14.7rem;
    height: 23.8rem;
    text-align: center;
}
.prods .slide-card:nth-child(1){
    margin-left: 4.1rem;
}
.prods .slide-card:nth-last-child(1){
    margin-right: 4.1rem;
}
.prods img{
    height: 13.4rem;
    margin-bottom: 1.12rem;
}
.prods .price{
    color: var(--prices-color);
    font-size: var(--fnt-sze-6);
}
.prods .big-price{
    font-size: var(--fnt-sze-3);
    font-weight: var(--fnt-wgt-1);
}
.prods .prod-name{
    font-size: var(--fnt-sze-9);
    font-weight: var(--fnt-wgt-1);
}
.prods .modeles{
    font-size: var(--fnt-sze-10);
    font-weight: var(--fnt-wgt-4);
}
.btn-inactive{
    display: none;
}


.conseils{
    padding-top: 4rem;
}
.conseils a{
    display: block;
    height: 20.8rem;
    width: 30%;
    margin: 0 1rem;
    
}
.inner-conseils{
    position: relative;
} 
.conseils h2{
    font-size: var(--fnt-sze-3);
    font-weight: var(--fnt-wgt-1);
    text-align: center;
}
.conseils .slider-container{
    position: relative;
    overflow-x: clip;
    width: 92%;
    margin: 0 auto;
}
.conseils .slider-btn{
    color: var(--primary-light);
    background-color: var(--secondary-light);
    font-size: 2rem;
    position: absolute;
    z-index: 15;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    border: none;
}
.conseils .slider-track{
    position: relative;
    left: 0;
    height: 20.8rem;
    transition: left .4s ease;
}
.conseils .slide{
    position: absolute;
    height: 100%;
    width: 100%;
    color: var(--primary-light);
    display: flex;
    align-items: center;
    justify-content: space-around;
    overflow-x: auto;
}
.conseils .slide-card-container{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 0.3rem;

}
#conseilsSliderBtnLeft{
    top: calc(50% - 1.7rem);
}
#conseilsSliderBtnRight{
    bottom: calc(50% - 1.7rem);
    right: 0;
}
.conseils .slide a:nth-child(1) .slide-card-container{
    background-image: url(./resources/conseilsGrad.png),url(./resources/b6c6f4333612a3c85c06502c6c1b0d1c.jpg);
    background-blend-mode: multiply;
}
.conseils .slide a:nth-child(2) .slide-card-container{
    background-image: url(./resources/conseilsGrad.png),url(./resources/c622e3f7bda5ad7760e8027a4c590b82.jpg);
    background-blend-mode: multiply;
}
.conseils .slide a:nth-child(3) .slide-card-container{
    background-image: url(./resources/conseilsGrad.png),url(./resources/d1d82d16256bd2ebc28fa909cd1b9ae2.jpg);
    background-blend-mode: multiply;
}
.conseils .slide-card{
    height: 100%;
    border-radius: 0.3rem;
    display: flex;
    align-items: flex-end;
}
.conseils  .slide-card-content{
    width: 80%;
    max-width: 25rem;
    color: var(--primary-light);
    padding-left: .93rem;
    padding-bottom: 3rem;
}
.conseils .slide-card-content h4{
    font-size: var(--fnt-sze-5);
}
.conseils .slide-card-content p{
    font-size: var(--fnt-sze-11);
    font-weight: var(--fnt-wgt-4);
}
.conseils .slider-nav{
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .4rem;
    width: 7rem;
    border-radius: .5rem;
    margin: 0 auto;
}
.conseils .slider-dot{
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: var(--primary-light);
    border: 1px solid var(--primary-dark);
}
.conseils .selected-dot{
    background-color: var(--primary-dark);
}

.slider-btn:active{
    background-color: var(--primary-dark);
}

.contact{
    padding-top: 5rem;
}
.inner-contact{
    padding: 0 var(--padding-sides);
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
}
.contact-box{
    background-image: url(./resources/9d50cea6a479bb8a4d8af5462ebf8d70.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 34.6rem;
}
.contact-box-content-container{
    height: 100%;
    background: linear-gradient(transparent ,var(--primary-dark) 75%);
    display: flex;
    align-items: flex-end;
}
.contact-box-content{
    padding-bottom: 2rem;
    color: var(--primary-light);
    text-align: center;
    width: 80%;
    margin: 0 auto;
}
.contact-box-content h1{
    font-size: var(--fnt-sze-1);
    font-weight: var(--fnt-wgt-1);
    padding-bottom: .5rem;
}
.contact-box-content p{
    font-size: var(--fnt-sze-9);
    font-weight: var(--fnt-wgt-4);
    padding-bottom: 1.7rem;
}
.contact-box-content input{
    padding-left: 1rem;
    width: 100%;
    height: 2.78rem;
    border: none;
    outline: none;
    color: var(--primary-light);
    background-color: var(--primary-dark);
    border: 1px solid var(--primary-light);
    margin-bottom: 1.5rem;
    font-size: var(--fnt-sze-9);
}
.contact-box-content input::placeholder{
    text-align: center;
    color: var(--email-pcdr-color);
}
.contact-box-content .email-btn{
    color: var(--primary-light);
    border: none;
    background-color: var(--email-btn-bg-color);
    width: 9.75rem;
    height: 2.87rem;
    border-radius: .4rem;
    font-size: var(--fnt-sze-10);
    font-weight: var(--fnt-wgt-1);
}
.contact-box-content .email-btn:active{
    opacity: .7;
}
.contact-img{
    background-image: url(./resources/d86527245286b420a255d5610d87497a.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 34.6rem;
}


.partners{
    text-align: center;
    padding: 0 var(--padding-sides);
    padding-top: 6.6rem;
}
.inner-partners{
    max-width: 60.4rem;
    margin: 0 auto;
}
.inner-partners h2{
    font-size: var(--fnt-sze-3);
    font-weight: var(--fnt-wgt-1);
    padding-bottom: 1.5rem;
}
.partner-list{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    padding-bottom: 2.6rem;
}
.partner{
    background-repeat: no-repeat;
    background-size: 80%;
    background-position: center;
    width: 13.18rem;
    height: 9.12rem;
    border: 1px solid var(--partner-border-color);
    border-radius: .3rem;
}
.partner:nth-child(1){
    background-image: url(./resources/3d1793545a92821ff61585028729d6de.png);
}
.partner:nth-child(2){
    background-image: url(./resources/beurer.png);
    background-size: 70%;
}
.partner:nth-child(3){
    background-image: url(./resources/molnlycke.png);
}
.partner:nth-child(4){
    background-image: url(./resources/67502e42b3fb0cbb1c7551be3071ee71.png);
    background-size: 70%;
}

.partners-btn{
    border: none;
    width: 17.8rem;
    height: 3.5rem;
    font-size: var(--fnt-sze-8);
    color: var(--primary-light);
    background-color: var(--primary-dark);
    border-radius: 1.75rem;
}
.partners-btn:active{
    opacity: .7;
}

.text{
    margin-top: 4.1rem;
    padding-top: 4.6rem;
    padding-bottom: 3.1rem;
    background-color: var(--dark-bg-color);
}
.inner-text{
    padding: 0 var(--padding-sides);
}
.text-cols{
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    margin-bottom: .5rem;
}
.text-col{
    width: 53%;
    height: 100%;
}
.text-col h3{
    color: var(--primary-dark);
    font-size: var(--fnt-sze-7);
    font-weight: var(--fnt-wgt-1);
    padding-bottom: 1.2rem;
}
.inner-text p{
    font-family: 'Montserrat',sans-serif;
    font-size: var(--fnt-sze-9);
    font-weight: var(--fnt-wgt-2);
    padding-bottom: 1.1rem;
}
.img-col{
    width: 46%;
    height: 29rem;
    background-image: url(./resources/3bf4255fd471182a708376bf332b3f35.jpg);
    background-repeat: no-repeat;
    background-size: 160%;
    background-position: center;
}


.advantages{
    background-color: var(--dark-bg-color);
    padding-bottom: 2.8rem;
}
.inner-advantages{
    padding: 0 var(--padding-sides);
}
.inner-advantages h3{
    width: fit-content;
    margin: 0 auto;
    border-bottom: 4px solid var(--primary-dark);
}
.advantages-list{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding-top: 1rem;
    border-top: 1px solid var(--secondary-light);
}
.advantage{
    width: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantage img{
    height: 5.5rem;
}
.advantage h4{
    font-size: var(--fnt-sze-8);
    font-weight: var(--fnt-wgt-1);
}
.advantage p{
    font-size: var(--fnt-sze-11);
    font-weight: var(--fnt-wgt-4);
}



.call-action{
    padding: 0 var(--padding-sides);
    background-color: var(--call-action-bg-color);
}
.inner-call-action{
    max-width: 80rem;
    min-height: 12.6rem;
    background-image: url(./resources/ca-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}
.call-action-content{
    height: fit-content;
    padding: 1rem 0;
}
.call-action-content h1{
    text-align: center;
    font-size: var(--fnt-sze-4);
    color: var(--primary-dark);
    font-weight: var(--fnt-wgt-1);
    padding-bottom: 1rem;
}
.call-action-content a{
    
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: var(--fnt-sze-8);
    font-weight: var(--fnt-wgt-2);
    color: var(--primary-dark);
    width: 28.5rem;
    height: 2.8rem;
    border: 1px solid var(--primary-dark);
    border-radius: 2.12rem;
}
.call-action-content a:active{
    background-color: var(--primary-dark);
    color: var(--primary-light);
    border-color: var(--primary-light);
}


footer{
    background-color: var(--primary-dark);
    padding: 0 var(--padding-sides);
    padding-top: 4.3rem;
    color: var(--primary-light);
}
.inner-footer{
    max-width: 80rem;
    margin: 0 auto;
}
footer .table{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    gap: 1rem;
}

footer .col h3{
    font-size: var(--fnt-sze-7);
    font-weight: var(--fnt-wgt-2);
    padding-bottom: 1.1rem;
}
footer .col a{
    color: var(--primary-light);
    
    font-size: var(--fnt-sze-10);
    font-weight: var(--fnt-wgt-4);
}
footer .col a:active{
    color: var(--secondary-dark);
}
footer .col li:not(li.title){
    padding-bottom: .5rem;
}

footer .address-col p{
    max-width: 15.9rem;
    line-height: 1.7;
}
footer .address-col h3{
    text-align: start;
}
footer .payment{
    padding-top: .7rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 8.37rem;
    margin-left: auto;
}
.top-footer{
    border-bottom: 1px solid #2F91B6;
}
footer .rights{
    text-align: center;
    font-size: var(--fnt-sze-9);
    font-weight: var(--fnt-wgt-4);
    padding: 1.25rem 0;
}

@media screen and (max-width:86.2rem) {
    .hero .slide:nth-child(1) {
        background-position: center;
    }
}
@media screen and (max-width:65rem) {
    html{
        font-size: 14px;
    }

    .header-bottom-nav .dropdown-li{
        margin-right: .5rem;
    }

    .inner-contact{
        flex-direction: column;
    }
    .contact-box{
        width: 100%;
    }
    .contact-img{
        width: 100%;
    }

    .inner-text .text-cols{
        flex-direction: column;
    }
    .inner-text .img-col{
        order: 1;
        width: 100%;
    }
    .inner-text .text-col{
        width: 100%;
        order: 2;
    }

    .advantages-list{
        flex-wrap: wrap;
    }

    footer .table{
        flex-wrap: wrap;
    }
    footer .table .col{
        width: 18rem;
    }
}
@media screen and (max-width:46.2rem) {

    .partner-list{
        flex-direction: column;
    }

    footer .table{
        text-align: center;
        justify-content: center;
    }
    footer .address-col{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    footer .payment{
        margin: 0 auto;
        padding-bottom: .5rem;
    }
}
